# Training of model

In [68]:
import pandas as pd
import re
from sklearn.ensemble import IsolationForest
import numpy as np
import pickle
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score,  recall_score, classification_report


# Define the path to your CSV file
file_path = 'train_normal.csv'

# Read the CSV into a DataFrame
df = pd.read_csv(file_path)

In [54]:
from utils import preprocess_dataframe

df = preprocess_dataframe(df)
df.head()

C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DateTime'] = df['Line'].apply(
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IP_Address'] = df['Line'].apply(lambda x: extract_data(IP_PATTERN, x))
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HTTP_Method'] = df['Line'].apply(
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Endpoint'] = df['Line'].apply(
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Response_Code'] = df['Line'].apply(

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,/forget_password,200,/login,200,/login,200,/login,200,/login,401,...,/login,200,/login,401,/login,200,/login,401,/login,200
1,/login,200,/login,200,/login,200,/login,401,/login,200,...,/login,401,/login,200,/login,401,/login,200,/login,401
2,/login,200,/login,200,/login,401,/login,200,/login,200,...,/login,200,/login,401,/login,200,/login,401,/login,401
3,/login,200,/login,401,/login,200,/login,200,/login,401,...,/login,401,/login,200,/login,401,/login,401,/login,401
4,/login,401,/login,200,/login,200,/login,401,/login,401,...,/login,200,/login,401,/login,401,/login,401,/forget_password,200

In [55]:
train = pd.get_dummies(df)

train.head()

,0_/forget_password,0_/login,1_200,1_401,2_/forget_password,2_/login,3_200,3_401,4_/forget_password,4_/login,...,55_200,55_401,56_/forget_password,56_/login,57_200,57_401,58_/forget_password,58_/login,59_200,59_401
0,True,False,True,False,False,True,True,False,False,True,...,True,False,False,True,False,True,False,True,True,False
1,False,True,True,False,False,True,True,False,False,True,...,False,True,False,True,True,False,False,True,False,True
2,False,True,True,False,False,True,True,False,False,True,...,True,False,False,True,False,True,False,True,False,True
3,False,True,True,False,False,True,False,True,False,True,...,False,True,False,True,False,True,False,True,False,True
4,False,True,False,True,False,True,True,False,False,True,...,False,True,False,True,False,True,True,False,True,False

In [56]:
isolation_forest = IsolationForest(contamination='auto', random_state=42)
isolation_forest.fit(train)

IsolationForest(random_state=42)

# Evaluation

In [57]:
# Define the path to your CSV file
file_path = 'test_combined.csv'

# Read the CSV into a DataFrame
test = pd.read_csv(file_path)

In [58]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,gold truth
0,/login,401,/login,401,/login,401,/login,401,/login,401,...,401,/login,401,/login,401,/login,401,/login,401,0
1,/login,200,/login,200,/login,200,/login,401,/login,401,...,200,/login,200,/login,401,/login,200,/login,200,1
2,/login,401,/login,401,/login,401,/login,401,/login,401,...,401,/login,401,/login,401,/login,401,/login,401,0
3,/login,401,/login,401,/login,401,/login,401,/login,401,...,401,/login,401,/login,401,/login,401,/login,401,0
4,/login,401,/login,401,/login,401,/login,401,/login,401,...,401,/login,401,/forget_password,200,/login,401,/login,401,0

In [59]:
test_x = test.drop(['gold truth'], axis=1)
test_y = test['gold truth']

In [60]:
from utils import create_dummies
test_x = create_dummies(test_x)
test_x.head()

C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_forget_password] = column_data != "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_login] = column_data == "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_200] = column_data != 200
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_401] = column_data == 400
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_forget_password] = column_data != "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_login] = column_data == "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_200] = column_data != 200
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_401] = column_data == 400
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_forget_password] = column_data != "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_login] = column_data == "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_200] = column_data != 200
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_401] = column_data == 400
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_forget_password] = column_data != "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_login] = column_data == "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_200] = column_data != 200
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_401] = column_data == 400
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_forget_password] = column_data != "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_login] = column_data == "/login"
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_200] = column_data != 200
C:\Users\g-e-r\OneDrive - Singapore Management University\School\Y4S1\CS480 CS Project Experience (SMU-X)\Evaluation\utils.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[new_col_name_401] = column_data == 400

,0_/forget_password,0_/login,1_200,1_401,2_/forget_password,2_/login,3_200,3_401,4_/forget_password,4_/login,...,55_200,55_401,56_/forget_password,56_/login,57_200,57_401,58_/forget_password,58_/login,59_200,59_401
0,False,True,True,False,False,True,True,False,False,True,...,True,False,False,True,True,False,False,True,True,False
1,False,True,False,False,False,True,False,False,False,True,...,True,False,False,True,False,False,False,True,False,False
2,False,True,True,False,False,True,True,False,False,True,...,True,False,False,True,True,False,False,True,True,False
3,False,True,True,False,False,True,True,False,False,True,...,True,False,False,True,True,False,False,True,True,False
4,False,True,True,False,False,True,True,False,False,True,...,False,False,False,True,True,False,False,True,True,False

In [61]:
scores = pd.DataFrame(isolation_forest.decision_function(test_x), columns=['score'])

In [62]:
scores

         score
0     0.052828
1    -0.001731
2     0.035799
3     0.052828
4     0.024688
...        ...
9937 -0.001146
9938  0.042705
9939  0.052828
9940  0.037440
9941  0.036136

[9942 rows x 1 columns]

In [63]:
from sklearn.metrics import fbeta_score

def find_best_threshold(scores, true_labels, beta=2.0):
    best_threshold = None
    best_fbeta = 0

    # Define the range of thresholds to explore
    thresholds = np.linspace(scores['score'].min(), scores['score'].max(), 1000)
    
    for threshold in thresholds:
        predictions = scores['score'] < threshold
        current_fbeta = fbeta_score(true_labels, predictions, beta=beta)
        
        if current_fbeta > best_fbeta:
            best_fbeta = current_fbeta
            best_threshold = threshold

    return best_threshold, best_fbeta

# Use a beta value larger than 1 (e.g., beta=2) to prioritize recall
best_threshold, best_fbeta = find_best_threshold(scores, test_y, beta=2.0)

In [69]:
# Assuming you already have best_predictions calculated
best_predictions = scores['score'] < best_threshold

# Calculate accuracy
accuracy = accuracy_score(test_y, best_predictions)

# Calculate AUC
auc = roc_auc_score(test_y, -scores['score'])

# Calculate recall
recall = recall_score(test_y, best_predictions)

print(f'Best Threshold: {best_threshold}')
print(f'Best F-beta Score: {best_fbeta:.4f}')
print(f'Accuracy: {accuracy:.4f}')
print(f'AUC Score: {auc:.4f}')
print(f'Recall: {recall:.4f}')
print(classification_report(test_y, best_predictions, target_names=['Normal', 'Attack']))

Best Threshold: 0.028391183714236157
Best F-beta Score: 0.9834
Accuracy: 0.9767
AUC Score: 0.9976
Recall: 0.9877
              precision    recall  f1-score   support

      Normal       0.99      0.97      0.98      4971
      Attack       0.97      0.99      0.98      4971

    accuracy                           0.98      9942
   macro avg       0.98      0.98      0.98      9942
weighted avg       0.98      0.98      0.98      9942